* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1e6ee;
}
.forgot-container__logo {
  max-width: 15rem;
  height: auto;
  display: block;
}
.forgot-container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.forgot-box {
  background-color: #5c0061;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.8);
  width: 500px;
  display: flex;
  flex-direction: column;
}
.forgot-box__title {
  text-align: center;
  color: white;
}

label {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
}

.forgot-box-section {
  text-align: center;
}

.forgot-box-section__button {
  background-color: #ff0072;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a {
  color: white;
  padding: 1rem;
}

@media (max-width: 600px) {
  .forgot-box {
    width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
  }

  img {
    max-width: 15rem; /* Reduce el tamaño de la imagen en pantallas pequeñas */
  }
}
